
@media(max-width:63em){

    html {
            font-size: 58%;
    }
}

@media(max-width:56em) {

    html {
        font-size: 55%;
    }

    .grid-2-cols,
    .grid-4-cols,
    .grid--4--cols,
    .grid-5-cols,
    .grid--5--cols{
        grid-template-columns: 1fr;
    }

    .many-prodect{
        background-color: inherit;
    }
    
    .grid-4-cols{
        gap: 1.2rem;
    }

    .grid--4--cols{
        row-gap: 1.8rem;
    }

    .grid-5-cols{
        row-gap: 1.2rem;
    }

    .hide-in-mobile{
        display: none;
    }

    .hero,
    .hero-2{
        height: 35vh;
    }

    .more-height {
        height: fit-content;
    }
    
    .main-prodect{
        margin-bottom: 1.2rem;
    }

    .price{
        justify-content: start;
        gap: 2.4rem;
    }
}

@media(max-width:50em) {

    .header-input input {
        padding: .5rem 10rem;
    }        
}

@media(max-width:44em) {

    html {
            font-size: 52%;
        }

    .header-input input {
        padding: .5rem 7.5rem;
    }

    .nav-ul{
        display: none;
    }
}

@media(max-width:35em) {


    html {
            font-size: 50%;
    }

    .header-input input {
        padding: .5rem 5rem;
    }

    .nav-ul {
        display: none;
    }

    .hero-text{
        margin-left: 1.2rem;
    }

    .for-phone{
        color: #bbb;
    }
}

@media(max-width:30em) {

    .flex-3{
        flex-direction: column;
        gap: 1.6rem;
        align-items: flex-start;
    }

    .header .header-nav {
        padding-top: 1.2rem;
        border-right: 1px solid rgba(255, 255, 255, 0.185);
    }

    .header-input input {
        padding: .5rem 4rem;
    }
}